body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: inline-block;
    /* Display labels in-line */
    margin-top: 10px;
}

select {
    width: 30%;
    /* Adjust the width as needed */
    padding: 5px;
    margin: 5px 10px;
    /* Add margin for spacing */
}

button {
    display: block;
    margin: 10px auto;
    /* Center the button */
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
}

img {
    max-width: 30%;
    height: auto;
    margin-top: 10px;
}