body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
}

h1 {
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin #ddd;
    font-size: 42px;
}

h1:hover {
    -webkit-text-fill-color: #ddd;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.center {
    text-align: center;
}


label {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-weight: 200;
    color: #ddd;
}


.label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.label-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 10px;
    appearance: none;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-size: 16px;
    color: black;
}

select:hover {
    border-color: #383838;
}

select:focus {
    border-color: #383838;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

.generate-button {
    display: inline-block;
    padding: 14px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.generate-button:hover {
    background-color: #242424;
}

.result-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: white;
    width: 80%;
}

.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.copy-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-container button {
    margin-left: 10px;
    padding: 5px;
    opacity: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: fadeIn 2s ease-in-out forwards;
    background-color: #ffffffb5;
}

.loader {
    display: none;
    border: 8px solid #212121;
    border-top: 8px solid #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



button i.fas {
    margin-right: 0;
}

img {
    width: auto;
    height: 350px;
    margin: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}